body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px;
}

.container-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.container-form form {
    display: flex;
    flex-direction: column ;
    align-items: start;
}
.container-inputNum input{
    width: 50px;
}

.container-cores{
    display: flex;
    text-align: start;
    gap: 5px;
}

.container-cores p {
    margin: 0;
}
.container-cores input{
    width: 50px;
}



.imagem{
    width: 40%;
}
